*{
    margin: 0px;
    padding: 0px;
}

    .header {
        display:flex;
        background-color: rgb(50, 167, 145);
        justify-content: space-around;
        align-items: center;

    }

    .trybewarts-header-logo{
        width: 80px;
    }
    .trybewarts-login {
        display:flex;
    }