* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  height: 100px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;

}

.trybewarts-header-logo {
  width: 60px;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
  font-size: 3em;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}

.trybewarts-login input {
  padding: 8px;
  width: 150px;
  border-radius: 4px;
}

.trybewarts-login button {
  background-color: rgba(116, 26, 219, 0.637);
  padding: 8px;
  width : 150px;
  border-radius: 4px;
}

.main {
  display: flex;
  justify-content: space-around;
  background-color: rgb (233, 233, 233);
  align-items: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

h2 {
  font-weight: 900;
  padding-top: 50px;
  align-self: center;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  justify-content: flex-end;
}

#input-name {
  display: flex;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 12px;
  width: 300px;
}

#input-lastname {
  display: flex;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 12px;
  width: 300px;
}

#input-email {
  display: flex;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 12px;
  width: 300px;
}

#house {
  display: flex;
  margin-bottom: 5px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 11px;
  width: 200px;
}

.container-1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding-top: 20px;
}

.container-2 {
  padding: 15px;
  display: flex;
}

.container-3 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#family {
  padding: 10px;
  flex-basis: 40%;
}


#frontend {
  margin-top: 10px;
}

#backend {
  margin-top: 10px;
}

#fullstack {
  margin-top: 10px;
}

#content {
  margin-top: 10px;
  flex-basis: 50%;

}

#hofs {
  margin-top: 15px;
}

#jest {
  margin-left: 15px;
}

#promises {
  margin-left: 15px;
}

#react {
  margin-top: 15px;
}

#sql {
  margin-left: 15px;
}

#phyton {
  margin-left: 20px;

}

#rate {
  padding: 10px;
  width: 675px;
  display: flex;
  justify-content: space-between;
}

#comment {
  padding: 10px;
}

#check {
  padding: 10px;
  width: 675px;
}

#textarea {
  width: 650px;
  height: 100px;
  border-radius: 10px;
}

#agreement {
  margin-right: 10px;
}

#submit-btn {
  color: white;
  background-color: rgba(116, 26, 219, 0.637);
  padding: 8px;
  width : 650px;
  border-radius: 4px;
}

footer {
  background-color: rgb(60, 64, 75);
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
